PORT=5000
MONGO_URI=mongodb://localhost:27017/career_coach_ai
JWT_SECRET=supersecret_careercoach_jwt_key_2026
CLIENT_URL=http://localhost:5173

AI_API_KEY=mock_openai_api_key

EMAIL_USER=demo@careercoach.ai
EMAIL_PASSWORD=demopassword
